EMAIL_CRON_SCHEDULE='*/15 * * * *'
EMAIL_OPENSSL_PWD=changeme
EMAIL_HOST=required.email.host
EMAIL_PORT=587
EMAIL_USER=requiredUser
EMAIL_DISPLAY_NAME='Foo Bar'
EMAIL_FROM=mail@from.send
EMAIL_RECIPIENTS=mail1@example.com:mail2@example.com
